/* section */
.colored-section2{
    background-color:#BFF6C3 !important;
    color: white;
}
.white-section{
    background-color: white;
}
.colored-section1{
    background-color: #E0FBE2 !important;
}

/* Navigation Bar */ 
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;

}
.nav-item{
    padding: 0px 18px;
    font-size: 2.5rem;
}
.green-nav-link{
    color:#86A789 !important; 
}
 
.nav-link{
    font-size: 1.3rem;
    font-family: 'Montserrat';
}

#leb{
    color:red;
}

/* search button*/
#search{
    background-color: #739072 ;
    color: white ;  
}

body{
    font-family: 'Montserrat';
    text-align: center;
}
h1, h2, h3, h4, h5, h6 { 
    font-family: 'Montserrat';
    font-weight: 900;
}

p{
    color: black;
}

/* Introduction */ 
.container-fluid{
    padding: 1% 3%;
}
#intro{
    text-align: justify;
  text-justify: inter-word;
  margin-top: 20px;
        line-height: 1.6;
}

.container2 {
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 10px;
    text-align: center;
}

.image {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* transportation*/


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-heading {
  color: #333;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.section-description {
  color: black;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 50px;
}

.vehicle-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.vehicle {
  margin: 20px;
  text-align: center;
}

.vehicle-image {
  width: 250px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.vehicle-type {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: black !important;
}


/* Feature section */
.feature-title{

    font-size: 1.2rem; 
}

#features{  
    position: relative;
    z-index: 1;
}
.feature-box{
    
    padding: 5%;
}

i{
    color:rgb(29, 28, 28) ;
    margin-bottom: 3rem;
}


#register{
    background-color: #86A789;
    padding: 50px;
     
}
.btn{ margin: 3%}

 /*  Footer */

 .social-icon{
     margin: 20px 10px;
 }

/* contact*/
.contact{
    color: red;
}
.container1 {
    display: flex;
    justify-content: space-between; /* This will push the divs to the opposite ends */
}

#contact, #date {
    width: 45%; /* Adjust width as needed */
}
 @media (max-width: 995px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
