body{
    font-family: 'Montserrat';
    text-align: center;
}
h1, h2, h3, h4, h5, h6 { 
    font-family: 'Montserrat';
    font-weight: 900;
    
}
.center {
    text-align: center;
  }
  .center img {
    display: block;
    margin: 0 auto;
  }
  
#flag{
    text-align: center;

}

#src{ 
 color:white;
background-color: black;
}

p{
    color: black;
}

/* Heading */
.big-heading{
    font-family: 'Montserrat'; 
    font-size: 3.5rem; 
    line-height: 1.5;  
    
}

.section-heading{
    font-size: 3rem; 
    line-height: 1.5;  
}
/* containers */ 
.container-fluid{
    padding: 7% 15%;
}

/* section */
.colored-section{
    background-color:black;
    color: white;
}

.gray-section{
    background-color: gray;
}

/* title section */
  
#title .container-fluid{
    padding: 3%  15%;
    text-align: left;
}
nav{
    background-color: gray !important;
}
/* Navigation Bar */ 
.navbar{
     
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}


/* Feature section */
.feature-title{

    font-size: 1.2rem; 
}

#features{
    
    background-color: gray;  
    position: relative;
    z-index: 1;
}
.feature-box{
    
    padding: 5%;
}

i{
    color:black ;
    margin-bottom: 3rem;
}

.btn{ margin: 3%}
.icon:hover{
    color: black;
   
}

/* Testimonials */
.testimonial-text{
    font-size: 3rem; 
    line-height: 1.5;  
}

table{
    text-align: left;
    margin:2% 25%;
}
#testimonials{

    background-color:black;
  
}

.testimonials-image{
    
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#register{
    background-color: black;
    padding: 50px;
     
}

#feed{
    background-color: gray ;
}


 /*  Footer */

 .social-icon{
     margin: 20px 10px;
 }

 @media (max-width: 995px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}